<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Budget Articles</title>
    <div th:replace="fragments :: news-header"/>
</head>
<body>
<div th:replace="fragments :: news-navigation"/>
<div class="container">
    <div class="bg-light p-4 rounded m-2">
        <h1 class="display-4">Latest Economic News</h1>
        <th:block th:unless="${articleList.isEmpty()}">
            <div class="row justify-content-center">
                <div class="col-auto" th:each="article: ${articleList}">
                    <div class="card" style="width: 18rem; height: 34rem;">
                        <img th:unless="${article.imageUrl == null}" th:src="${article.imageUrl}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${doc.headline.getMain()}">Snippet</h5>
                            <p class="card-text" th:text="${article.snippet}">summary</p>
                            <a th:href="${article.webUrl}" class="btn btn-primary">Read More..</a>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>
<div th:replace="fragments :: news-footer"/>
</body>
</html>