<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Debt</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<h1>Debt</h1>
<div align="center">
    <h1>Debt List</h1>
    <br/><br/>
    <table border="1" cellpadding="10" class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Debt ID</th>
            <th scope="col">Creditor</th>
            <th scope="col">Type</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">Payment</th>
            <th scope="col">Interest</th>
            <th scope="col">Account Charged</th>
            <th th:if="${role == 'admin'}">User ID</th>
            <th th:if="${role == 'admin'}">User Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="debt : ${debtList}">
            <td th:text="${debt.id}">Debt ID</td>
            <td th:text="${debt.creditor}">Creditor</td>
            <td th:text="${debt.type}">Type of Debt</td>
            <td th:text="${debt.date}">Date</td>
            <td th:text="${debt.amount}">Amount</td>
            <td th:text="${debt.payment}">Payment</td>
            <td th:text="${debt.interest}">interest</td>
            <td th:text="${debt.account.id}">Account Charged</td>
            <td th:text="${debt.account.name}">Account Charged</td>
            <td th:if="${role == 'admin'}" th:text="${debt.getUserId()}">User ID</td>
            <td th:if="${role == 'admin'}" th:text="${debt.getUser()}">User Name</td>
            <td><a class="btn btn-outline-danger" th:href="@{'/edit-debt/' + ${debt.id}}">Edit</a>
                <a class="btn btn-outline-warning" th:href="@{'/delete-debt/' + ${debt.id}}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<a class="btn btn-outline-primary" th:href="@{/new-debt}">Add New Debt</a>
<a class="btn btn-outline-success" th:href= "@{/index}" >Home</a>
</body>
</html>