<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Change Username and Password</title>
</head>
<body>
<h1>Change Username and Password</h1>
<br />
<div align="center">
    <br />
    <form action="#" th:action="@{/update-user/} + ${user.id}" th:object="${user}" method="post">
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-username">Username</span>
            <input type="text" class="form-control" aria-label="username"
                   aria-describedby="inputGroup-username" th:field="*{username}" name="username" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-targetAccount">Password</span>
            <input type="text" class="form-control" aria-label="password"
                   aria-describedby="inputGroup-password" th:field="*{password}" name="password" required>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </div>
        </div>
    </form>
</body>
</html>