<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Expenses in Account</title>
</head>
<body>
<h1>Expenses in Account</h1>
<div align="center">
    <h1>Expenses List</h1>
    <br/><br/>
    <table border="1" cellpadding="10" class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Expense ID</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Recur Monthly</th>
            <th scope="col">Amount</th>
            <th scope="col">Account ID</th>
            <th scope="col">Account Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="expense : ${expenseList}">
            <td th:text="${expense.id}">Expense ID</td>
            <td th:text="${expense.name}">Name</td>
            <td th:text="${expense.date}">Date</td>
            <td th:text="${expense.recurring}">Recur Monthly</td>
            <td th:text="${expense.amount}">Amount</td>
            <td th:text="${expense.account.id}">Account ID</td>
            <td th:text="${expense.account.name}">Account Name</td>
        </tr>
        </tbody>
    </table>
</div>
<a class="btn btn-outline-primary" th:href="@{/accounts}">Accounts</a>
<a class="btn btn-outline-success" th:href= "@{/index}" >Home</a>
</body>
</html>